h1,h2{
    text-align: center;
}
#container{
    margin: 20px auto;
    max-width: 600px;
}
.square{
    width: 30%;
    background-color: gray;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
    transition: background 0.7s;
}